#challenges_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(80, 80, 80);
    width: 90%;
    max-width: 1200px;
    height: 85%;
    margin-top: 30px;
    color-scheme: dark;

    #top_bar {
        padding: 0 15px;
        height: 40px;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        background-color: #222831;

        #title {
            font-size: 1.2rem;
            font-weight: bold;
            color: #dddddd;
        }

        #repo_link {
            color: #dddddd;
            text-decoration: none;
            transition: 200ms ease-in-out color;
        }

        #repo_link:hover {
            color: #f05454;
        }
    }

    #challenges {
        width: 100%;
        height: calc(100% - 40px);
        overflow-y: auto;
        font-size: 14px;
        background-color: #15191e;

        #challenges_loading {
            border: 8px solid #dddddd;
            border-top: 8px solid #30475e;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -40px;
        }
        
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        
        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        
        #loading_error {
            color: red;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    ::-webkit-scrollbar {
        width: 20px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
      }
}

@media only screen and (max-width: 680px) {
    #challenges_wrapper {
        #top_bar {
            #title {
                font-size: 1rem;
            }

            #repo_link {
                font-size: 0.9rem;
            }
        }

        #challenges {
            font-size: 12px;
        }
    }
}
