.web_project {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    white-space: pre-line;
    margin-top: -30px;

    .web_project_link {
        background: linear-gradient(to bottom right, #5de6de, #b58ecc);
        padding: 5px;
        border-radius: 10px;
        text-decoration: none;
        color: #231e35;
        font-size: 1.1rem;
        box-shadow: 0px 0px 10px rgb(78, 67, 118, 0.5);
        transition: box-shadow .2s ease-in-out;
        margin-bottom: 15px;

        .web_project_name {
            margin-bottom: 10px;
        }

        img {
            background-color: white;
            width: 100%;
            max-width: 200px;
            height: auto;
            border-radius: 20px;
        }
    }

    .web_project_link:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    }

    .web_project_source_link {
        color: gray;
        font-size: 0.9rem;
        margin-bottom: 5px;
    }

    .web_project_source_link:hover {
        color: lightcoral;
    }
}
