#homepage {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 15px 15px 15px;
    text-align: center;

    #intro {
        margin: 25px 0 50px 0;
        font-size: 24px;

        #hello {
            font-size: 3em;
            font-weight: bold;
            color: #2b5876;
        }

        #intro_desc {
            font-style: italic;
        }

        #age_desc {
            margin-top: 25px;
            font-size: 1.6em;

            #age {
                margin-top: 15px;
                padding: 5px 10px;
                font-size: 0.75em;
                box-shadow: 0px 0px 5px gray;
                border-radius: 7px;
                background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
                background-size: 400% 400%;
                -webkit-animation: gradient 15s ease infinite;
                animation: gradient 15s ease infinite;
                color: whitesmoke;

                sub {
                    font-size: 0.5em;
                    font-style: italic;
                }
            }
        }
    }

    #works_wrapper {
        #works_intro {
            font-size: 30px;
            font-weight: bold;
            padding: 0 15px 15px 15px;
            border-bottom: 3px solid gray;
            width: fit-content;
            margin: 0 auto;
        }

        #works {
            margin-top: 60px;
            margin-bottom: 60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            max-width: 1200px;
            gap: 20px;
        }
    }

    #resume_and_contacts {
        #rac_intro {
            font-size: 28px;
            font-weight: bold;
            padding: 0 10px 10px 10px;
            border-bottom: 2px solid gray;
            margin-bottom: 45px;
            max-width: fit-content;
            margin: 0 auto;
        }

        #links {
            font-size: 22px;
            margin-bottom: 45px;
            margin-top: 45px;

            a:not(:last-child) {
                margin-right: 60px;
            }

            a {
                text-decoration: none;
                color: #2b5876;
                transition: color .2s ease-in-out, -webkit-transform .2s ease-in-out, transform .2s ease-in-out;
                display: inline-block;
            }

            a:hover {
                color: lightcoral;
                -webkit-transform: translateY(-3px);
                transform: translateY(-3px);
            }
        }

        #contacts {
            margin-bottom: 20px;
            color: #2b5876;

            a {
                color: #2b5876;
            }

            a:hover {
                color: lightcoral;
            }

            a:first-of-type {
                margin-right: 50px;
            }
        }

        #source_code {            
            a {
                color: gray;
            }

            a:hover {
                color: lightcoral;
            }
        }
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@media only screen and (max-width: 655px) {
    #homepage {
        #resume_and_contacts {
            #links {
                display: -webkit-flex;
                display: flex;
                flex-direction: column;

                a:not(:last-child) {
                    margin-right: unset;
                    margin-bottom: 20px;
                }
            }

            #contacts {
                display: -webkit-flex;
                display: flex;
                flex-direction: column;

                a:first-of-type {
                    margin-right: unset;
                    margin-bottom: 10px;
                }
            }
        }

        #works_wrapper {
            #works {
               grid-template-columns: unset;
               grid-template-rows: repeat(3, 1fr);
               justify-content: center;
            }
        }
    }
}
