.java_project {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -20px;

    a {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 15px;
        transition: color .2s ease-in-out, -webkit-transform .2s ease-in-out,transform .2s ease-in-out;
    }

    a:hover {
        color: lightcoral;
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }

    iframe {
        border-radius: 7px;
        border: none;
        box-shadow: 0px 0px 15px black;
        margin-bottom: 15px;
    }
}
