nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  z-index: 333;
  background: linear-gradient(to right, #2b5876, #4e4376);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.333);

  a {
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: whitesmoke;
  }

  a:hover {
    background-color: #231e35;
    color: whitesmoke;
  }

  .active {
    background-color: whitesmoke;
    color: #231e35;
  }
}

@media only screen and (max-width: 428px) {
  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: auto;

    a {
        padding: 6px 11px;
        text-align: center;
    }
  }
}
